* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Noto Kufi Arabic", sans-serif;
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
}

::-moz-selection {
  background-color: #32beeb;
  color: #FFFFFF;
}

::selection {
  background-color: #32beeb;
  color: #FFFFFF;
}

a {
  color: #000;
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Changa", sans-serif;
  line-height: 1.4;
  font-weight: 600;
}

.warm {
  color: rgb(244, 117, 18);
}

.hot {
  color: rgb(243, 80, 42);
}

body {
  font-family: "Noto Kufi Arabic", sans-serif;
  position: relative;
}

.float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 30px;
  right: 40px;
  background-color: #25d366;
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 2px 2px 3px #999;
  z-index: 111;
}
.float .my-float {
  margin-top: 16px;
}

.tel {
  background-color: #32beeb;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 110;
}
.tel i {
  font-size: 120%;
  margin-left: 5px;
}

form {
  direction: rtl;
  position: relative;
  width: 300px;
}
form input {
  width: 100%;
  outline: none;
  color: #aaaaaa;
  background: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  line-height: initial;
  padding: 10px 13px 10px 35px;
  border-color: rgba(255, 255, 255, 0.07);
}
form button {
  color: #aaaaaa;
  position: absolute;
  left: 0;
  top: 50%;
  width: 40px;
  transform: translate(0, -50%);
  border: none;
  cursor: pointer;
  background: transparent;
  font-size: 15px;
  transition: color 0.15s;
  -webkit-transition: color 0.15s;
  -moz-transition: color 0.15s;
  -ms-transition: color 0.15s;
  -o-transition: color 0.15s;
}
form button:hover {
  color: #32beeb;
}

.overlay form {
  width: calc(100% - 60px);
}
.overlay form input {
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 0, 0, 0.05);
  border-color: rgba(255, 255, 255, 0.1);
  color: #ffffff;
  border-radius: 50px;
  padding: 7px 45px;
  font-size: 13px;
}
.overlay form button {
  color: #ffffff;
}

.overlay {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1f2024;
  z-index: 110;
  padding: 60px 0 0;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  transform: translate(-100%);
  -webkit-transform: translate(-100%);
  -moz-transform: translate(-100%);
  -ms-transform: translate(-100%);
  -o-transform: translate(-100%);
  background: #161619;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  transition: 0.5s cubic-bezier(0.55, 0, 0.1, 1) 0s;
}
.overlay.active {
  transform: translate(0%);
  -webkit-transform: translate(0%);
  -moz-transform: translate(0%);
  -ms-transform: translate(0%);
  -o-transform: translate(0%);
}
.overlay .close-overlay {
  font-family: "tiefonticon";
  color: #fff;
  transition: color 0.15s;
  cursor: pointer;
  font-size: 27px;
  position: absolute;
  z-index: 1;
  top: 20px;
  left: 50%;
  right: auto;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  text-align: center;
}
.overlay .close-overlay:hover {
  color: #e74c3c;
}

form.search-form {
  position: relative;
  display: flex;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 20px;
}

.search-field {
  width: 73%;
  padding: 8px 15px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: #2c2f34;
  font-size: 13px;
  outline: none;
  padding: 5px;
  line-height: 23px;
  border-radius: 2px;
  transition: background 0.3s, border 0.3s;
  max-width: 100%;
  background-color: transparent;
}

.search-field:focus {
  border-color: #32beeb;
  background-color: #fff;
}

.search-field:hover {
  background-color: rgba(0, 0, 0, 0.03);
}

input.search-submit {
  background-color: #32beeb;
  color: #FFFFFF;
  width: 27%;
  position: relative;
  color: #fff;
  padding: 7px 15px;
  margin: 0;
  margin-right: 2%;
  font-size: 13px;
  display: inline-block;
  text-align: center;
  border: none;
  cursor: pointer;
  text-decoration: none;
  vertical-align: middle;
  transition: 0.3s;
  border-radius: 2px;
}

input.search-submit:hover {
  background-color: #08f;
  /* background-color: #2c2f34; */
}

:root {
  --wp-main-margin: 20px;
}

.container {
  width: 100%;
}
.container > div {
  max-width: 1170px;
  margin: 0 auto;
}

.header {
  position: relative;
  z-index: 108;
  min-height: 80px;
  background-color: #1a1a1a;
}
.header .container {
  position: fixed;
  background-color: #1a1a1a;
}
.header .main-menu {
  width: 100%;
  background-color: #1a1a1a;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
}
.header .main-menu .logo {
  min-width: 120px;
  min-height: 120px;
}
.header .main-menu .logo img {
  max-width: 120px;
  max-height: 120px;
}
.header .main-menu a {
  color: #fff;
  font-size: 50px;
  font-weight: bold;
  font-family: "Changa", "sans-serif";
  position: relative;
}
.header .main-menu a:hover {
  color: #32beeb;
}

.wp-content {
  background-image: url(./../../images/villa-pascucci.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center top;
}
.wp-content .wp-content-container {
  background: #ffffff;
  position: relative;
  z-index: 108;
  height: 100%;
  min-height: 650px;
  margin: 0 auto;
  background-color: transparent !important;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 100px, transparent 900px);
}
.wp-content .breadcrumb {
  max-width: 1170px;
  display: flex;
  width: 100%;
  margin: 5px auto;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;
  font-size: 13px;
}
.wp-content .breadcrumb .breadcrumb-item + .breadcrumb-item::before {
  display: inline-block;
  padding-right: 4px;
  padding-left: 4px;
  content: "/";
}
.wp-content .home {
  direction: rtl;
  height: 700px;
  color: #ffffff;
  min-height: 80px;
  padding-top: 15px;
}
.wp-content .home a {
  color: #fafafa;
}
.wp-content .home a:hover {
  color: #6c757d;
}
.wp-content .home .container {
  position: relative;
  z-index: 5;
  height: 72%;
}
.wp-content .home .entery-header {
  position: relative;
  z-index: 5;
  top: 40%;
  text-align: center;
  width: 100%;
  padding: 0 30px;
}
.wp-content .home .entery-header > span a {
  display: inline-block;
  background: #08f;
  color: #fff;
  padding: 0 6px;
  margin-left: -2%;
  font-size: 13px;
  line-height: 1.85em;
  border-radius: 2px;
  background-color: #32beeb;
  color: #FFFFFF;
}
.wp-content .home .entery-header > span a:hover {
  background-color: #008cb9;
}
.wp-content .home .entery-header h1 {
  font-size: 40px;
  margin-top: 5px;
  margin-bottom: 10px;
  padding: 0 0 0 75px;
  font-weight: 500;
  line-height: 1.2;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}
.wp-content .home .entery-header > p {
  font-size: 22px;
  margin-bottom: 15px;
  font-family: "Changa", "sans-serif";
}
.wp-content .home .entery-header .info > span {
  margin: 0 5px;
}
.wp-content .home a.go-to-content {
  position: relative;
  color: #fff;
  display: block;
  z-index: 3;
  right: 50%;
  width: 55px;
  height: 55px;
  scroll-behavior: smooth;
}
.wp-content .home a.go-to-content:hover::before {
  border-color: transparent #08f #08f transparent;
}
.wp-content .home a.go-to-content::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border: 5px solid #fff;
  border-radius: 2px;
  border-color: transparent #fff #fff transparent;
  transform: rotate(45deg);
}
.wp-content .content {
  width: 100%;
  direction: rtl;
}
.wp-content .content .content-container {
  max-width: 780px;
  width: 100%;
  margin: 150px auto;
  background-color: #fff;
  padding: 30px;
  margin-top: 0;
}
.wp-content .content .content-container article.main-content .servise-img {
  position: relative;
}
.wp-content .content .content-container article.main-content .servise-img img {
  width: 100%;
  max-height: 430px;
}
.wp-content .content .content-container article.main-content .servise-img span.servise-name {
  position: absolute;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: rgba(0, 0, 0, 0.82);
  color: #fff;
  bottom: 5px;
  right: 0px;
  font-size: 18px;
  padding: 10px;
}
.wp-content .content .content-container article.main-content .servise-img span.servise-name i {
  margin-left: 5px;
}
.wp-content .content .content-container article.main-content .entery-content {
  line-height: 26px;
  font-size: 15px;
  padding: 30px 0;
}
.wp-content .content .content-container article.main-content .entery-content h2 {
  font-size: 27px;
}
.wp-content .content .content-container article.main-content .entery-content h3 {
  font-size: 23px;
}
.wp-content .content .content-container article.main-content .entery-content h4 {
  font-size: 18px;
}
.wp-content .content .content-container article.main-content .entery-content h2,
.wp-content .content .content-container article.main-content .entery-content h3,
.wp-content .content .content-container article.main-content .entery-content h4 {
  margin: 0 0 0.5em;
}
.wp-content .content .content-container article.main-content .entery-content h2 strong,
.wp-content .content .content-container article.main-content .entery-content h3 strong,
.wp-content .content .content-container article.main-content .entery-content h4 strong {
  font-weight: 600;
  font-family: "Changa", "sans-serif";
}
.wp-content .content .content-container article.main-content .entery-content p {
  font-size: 15px;
  line-height: 26px;
  margin-bottom: 25px;
  color: #2c2f34;
}
.wp-content .content .content-container article.main-content .entery-content p a {
  color: #32beeb;
}
.wp-content .content .content-container article.main-content .entery-content p a:hover {
  color: #08f;
}
.wp-content .content .content-container article.main-content .entery-content ul,
.wp-content .content .content-container article.main-content .entery-content ol {
  list-style-type: disc;
  margin-bottom: 20px;
  padding-right: 15px;
  padding-left: 0;
  margin-right: 20px;
  margin-left: 0;
}
.wp-content .content .content-container article.main-content .entery-content ul li,
.wp-content .content .content-container article.main-content .entery-content ol li {
  list-style: disc;
  list-style-image: none;
  margin: 0 0 5px 0;
  color: #2c2f34;
}
.wp-content .content .content-container article.main-content .entery-content li ul {
  margin: 5px 0 0 15px;
  padding-right: 15px;
  padding-left: 0;
}
.wp-content .content .content-container article.main-content .entery-content figure.attchement-img {
  margin: 0 auto;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 20px;
}
.wp-content .content .content-container article.main-content .entery-content figure.attchement-img img {
  width: 300px;
  height: 225px;
}
.wp-content .content .content-container article.main-content .entery-content figure.attchement-img figcaption {
  text-align: center;
  color: #686868;
  font-size: 15px;
  font-style: italic;
  line-height: 1.6;
  padding-top: 5px;
  margin-bottom: 20px;
}
.wp-content .content .content-container article.main-content .entery-content .share-buttons {
  padding: 20px;
  line-height: 2;
  border: 1px solid rgb(158, 173, 185);
  border-radius: 2px;
}
.wp-content .content .content-container article.main-content .entery-content .share-buttons .share-links a {
  display: inline-block;
  margin: 2px;
  height: 40px;
  transition: 0.3s;
  border-radius: 2px;
  width: 125px;
  position: relative;
  overflow: hidden;
}
.wp-content .content .content-container article.main-content .entery-content .share-buttons .share-links a span.icon {
  display: inline-block;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  color: #fff;
  position: relative;
}
.wp-content .content .content-container article.main-content .entery-content .share-buttons .share-links a span.icon::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 0;
  width: 1px;
  height: 22px;
  background-color: #fff;
}
.wp-content .content .content-container article.main-content .entery-content .share-buttons .share-links a span.icon i {
  font-size: 18px;
}
.wp-content .content .content-container article.main-content .entery-content .share-buttons .share-links a span.links {
  position: relative;
  padding-right: 70px;
  color: #fff;
  transition: 0.25s linear;
  -webkit-transition: 0.25s linear;
  -moz-transition: 0.25s linear;
  -ms-transition: 0.25s linear;
  -o-transition: 0.25s linear;
}
.wp-content .content .content-container article.main-content .entery-content .share-buttons .share-links a:hover {
  opacity: 0.8;
}
.wp-content .content .content-container article.main-content .entery-content .share-buttons .share-links a:hover span.links {
  padding-right: 10px;
}
.wp-content .content .content-container article.main-content .entery-content .share-buttons .share-links a:nth-child(1) {
  background-color: #4080FF;
}
.wp-content .content .content-container article.main-content .entery-content .share-buttons .share-links a:nth-child(2) {
  background-color: #40bff5;
}
.wp-content .content .content-container article.main-content .entery-content .share-buttons .share-links a:nth-child(3) {
  background-color: #238cc8;
}
.wp-content .content .content-container article.main-content .entery-content .share-buttons .share-links a:nth-child(4) {
  background-color: #35465c;
}
.wp-content .content .content-container article.main-content .entery-content .share-buttons .share-links a:nth-child(5) {
  background-color: #e13138;
}
.wp-content .content .content-container article.main-content .entery-content .share-buttons .share-links a:nth-child(6) {
  background-color: #ff4500;
}
.wp-content .content .content-container article.main-content .entery-content .share-buttons .share-links a:nth-child(7) {
  background-color: #45668e;
}
.wp-content .content .content-container article.main-content .entery-content .share-buttons .share-links a:nth-child(8) {
  background-color: #333333;
}
.wp-content .content .content-container article.main-content .entery-content .share-buttons .share-links a:nth-child(9) {
  background-color: #444;
}
.wp-content .content-container .related-articl .related-articl-container .related-articl-item:last-child {
  display: none;
}
.wp-content .related-articl h2 {
  color: #32beeb;
  font-size: 17px;
  padding: 0 0 15px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}
.wp-content .related-articl .related-articl-container {
  direction: rtl;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.wp-content .related-articl .related-articl-container .related-articl-item {
  display: flex;
  flex-direction: column;
  max-width: 30%;
  width: 100%;
  margin: 0px 0 20px;
}
.wp-content .related-articl .related-articl-container .related-articl-item > a {
  position: relative;
}
.wp-content .related-articl .related-articl-container .related-articl-item > a span {
  font-size: 13px;
  position: absolute;
  bottom: 16px;
  left: 15px;
  padding: 3px 8px;
  color: #fff;
  background: #32beeb;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}
.wp-content .related-articl .related-articl-container .related-articl-item > a:hover {
  color: #fff;
  opacity: 0.8;
}
.wp-content .related-articl .related-articl-container .related-articl-item figure {
  border-radius: 3px;
  overflow: hidden;
}
.wp-content .related-articl .related-articl-container .related-articl-item figure img {
  width: 100%;
  max-height: 220px;
}
.wp-content .related-articl .related-articl-container .related-articl-item h3 {
  line-height: 1.6;
  padding-top: 5px;
  font-size: 13px;
}
.wp-content .related-articl .related-articl-container .related-articl-item h3 a {
  color: #686868;
  font-family: "Changa", "sans-serif";
}
.wp-content .related-articl .related-articl-container .related-articl-item h3 a:hover {
  color: #32beeb;
}
.wp-content .related-articl .related-articl-container .related-articl-item p {
  margin: 8px 0 0;
  color: #767676;
}
.wp-content .related-articl .related-articl-container .related-articl-item p span.servise-date {
  text-align: center;
  font-size: 13px;
  line-height: 1.6;
  padding-top: 5px;
  margin-bottom: 20px;
}
.wp-content .related-articl .related-articl-container .related-articl-item p span.servise-date i {
  padding-left: 6px;
}

.footer {
  background-color: #1f2024;
  color: #fff;
  direction: rtl;
  padding: 80px;
  padding-top: 60px;
  position: relative;
  margin-top: 50px;
}
.footer::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 80px;
  bottom: 0;
  left: 0;
  background: #1a1a1a;
}
.footer .wp-footer-content {
  display: flex;
  min-height: 400px;
  height: -moz-fit-content;
  height: fit-content;
  margin-bottom: 20px;
  gap: 25px;
}
.footer .wp-footer-content .col {
  width: 33.3333333333%;
  max-width: 370px;
  height: 400px;
  padding: 15px 0;
}
.footer .wp-footer-content .col > h3 {
  margin-bottom: var(--wp-main-margin);
  position: relative;
}
.footer .wp-footer-content .col > h3::after {
  content: "";
  position: absolute;
  width: 10%;
  height: 2px;
  background-color: #32beeb;
  bottom: -10px;
  right: 0;
}
.footer .wp-footer-content .col div.content {
  text-align: center;
}
.footer .wp-footer-content .col div.content h4 {
  margin-bottom: var(--wp-main-margin);
  position: relative;
  font-size: 16px;
}
.footer .wp-footer-content .col div.content h4::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.1);
  bottom: -10px;
  left: 50%;
  right: auto;
  transform: translateX(-50%);
  transition: 0.15s;
}
.footer .wp-footer-content .col div.content h3 {
  font-size: 23px;
  margin-bottom: var(--wp-main-margin);
}
.footer .wp-footer-content .col div.content p {
  font-size: 14px;
  line-height: 1.4;
}
.footer .wp-footer-content .col ul.content {
  position: relative;
}
.footer .wp-footer-content .col ul.content::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 100%;
  background: #1a1a1a;
}
.footer .wp-footer-content .col ul.content li.sevice {
  margin-bottom: 12px;
  margin-right: 20px;
  position: relative;
}
.footer .wp-footer-content .col ul.content li.sevice::before, .footer .wp-footer-content .col ul.content li.sevice::after {
  content: "";
  position: absolute;
  background-color: #32beeb;
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  backface-visibility: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
}
.footer .wp-footer-content .col ul.content li.sevice::before {
  right: -27px;
  top: 0;
  width: 12px;
  height: 12px;
  background: #27292d;
  border: 2px solid rgba(255, 255, 255, 0.8);
  border-color: rgba(0, 0, 0, 0.3);
}
.footer .wp-footer-content .col ul.content li.sevice::after {
  background-color: rgba(47, 45, 45, 0.8);
  width: 7px;
  height: 7px;
  right: -23px;
  top: 4px;
}
.footer .wp-footer-content .col ul.content li.sevice:hover::before {
  background-color: #32beeb;
}
.footer .wp-footer-content .col ul.content li.sevice:hover::after {
  background-color: #08f;
}
.footer .wp-footer-content .col ul.content a {
  color: #fff;
  display: block;
  margin-bottom: 10px;
}
.footer .wp-footer-content .col ul.content a:hover h4 {
  color: #32beeb;
}
.footer .wp-footer-content .col ul.content a li {
  font-size: 12px;
  line-height: 1.4;
}
.footer .wp-footer-content .col ul.content a h4.sevice-name {
  margin: 4px 0 0px;
  font-size: 18px;
}

.check-also-box {
  position: fixed;
  z-index: 98;
  padding: 30px;
  bottom: 20px;
  background-color: #fff;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 3px;
  max-width: 340px;
  direction: rtl;
  font-family: "Changa";
  transition: all 0.5s linear;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
}
.check-also-box .check-also-globl-titel {
  font-size: 17px;
  padding: 0 0 15px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  color: #333;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.check-also-box .check-also-globl-titel::before {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  bottom: -5px;
  border-top: 5px solid #2c2f34;
  right: 0;
  border-left: 5px solid transparent;
  border-right: 0;
}
.check-also-box .check-also-globl-titel a {
  font-family: "tiefonticon";
  color: #e74c3c;
  transition: color 0.15s;
}
.check-also-box .check-also-globl-titel h3 {
  font-size: 15px;
}
.check-also-box .check-also-item a {
  display: block;
  position: relative;
}
.check-also-box .check-also-item a span {
  font-size: 13px;
  position: absolute;
  bottom: 16px;
  left: 15px;
  padding: 3px 8px;
  color: #fff;
  background: #32beeb;
  border-radius: 2px;
}
.check-also-box .check-also-item a img {
  width: 278px;
  height: 157px;
}
.check-also-box .check-also-item a h3 {
  font-size: 18px;
  line-height: 1.3em;
}
.check-also-box .check-also-item a h3:hover {
  color: #32beeb;
}

.hide-check-also {
  display: none;
}

@media screen and (max-width: 990.99px) {
  .check-also-box {
    display: none;
  }
}/*# sourceMappingURL=main.css.map */