@charset "UTF-8";
.slide-show {
  background-color: #ddd;
}
.slide-show .main {
  font-family: Arial;
  max-width: 1150px;
  width: calc(100% - 22px);
  display: block;
  margin: 90px auto 60px;
  padding: 10px 0;
}
.slide-show h3.slides-hot-content,
.slide-show h3.slides-warm-content {
  color: #3498db;
  margin: 5px;
  padding: 1%;
  position: relative;
  text-align: center;
}
.slide-show h3.slides-hot-content img,
.slide-show h3.slides-warm-content img {
  width: 100%;
  max-height: 220px;
}
.slide-show .action {
  display: block;
  margin: 100px auto;
  width: 100%;
  text-align: center;
}
.slide-show .slider .slider-for {
  position: relative;
}
.slide-show .slick-prev,
.slide-show .slick-next {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 95%;
  display: block;
  width: 25px;
  height: 25px;
  border-radius: 2px;
  cursor: pointer;
  z-index: 3;
  border: none;
  outline: none;
  background: #3498db;
  opacity: 0.75;
}
.slide-show .slick-prev:hover,
.slide-show .slick-next:hover {
  opacity: 1;
}
.slide-show .slick-next {
  right: -10px;
}
.slide-show .slick-prev {
  left: -10px;
}
.slide-show .slick-prev::before,
.slide-show .slick-next::before {
  font-family: "slick";
  font-size: 15px;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
}
.slide-show .slick-prev:before {
  content: "←";
}
.slide-show .slick-next:before {
  content: "→";
}

.slick-initialized .slick-slide.slick-for {
  max-width: 800px;
  /* position: relative; */
  margin: 0 76px;
}

.slick-initialized .slick-slide h3.slides-hot-content {
  position: relative;
}
.slick-initialized .slick-slide h3.slides-hot-content .slider-hot-servise {
  transition: 0.5s linear;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  overflow: hidden;
  direction: rtl;
}
.slick-initialized .slick-slide h3.slides-hot-content .slider-hot-servise .servise-date span.hot-date {
  font-size: 16px;
}
.slick-initialized .slick-slide h3.slides-hot-content .slider-hot-servise .servise-date span.hot-date i {
  margin-left: 8px;
}
.slick-initialized .slick-slide h3.slides-hot-content .slider-hot-servise h3.hot-name {
  font-size: 27px;
  margin-bottom: 10px;
}
.slick-initialized .slick-slide h3.slides-hot-content .slider-hot-servise p.hot-desc {
  display: none;
  margin-bottom: -50px;
  font-size: 16px;
}
.slick-initialized .slick-slide h3.slides-hot-content .slider-hot-servise:hover p.hot-desc {
  display: inline;
  margin-bottom: 0;
}

ul.slick-dots {
  display: flex;
  justify-content: center;
  gap: 10px;
}

ul.slick-dots li button {
  padding: 4px;
  border-radius: 50%;
  content: none;
  background: #27292d;
  border: 2px solid rgba(47, 45, 45, 0.8);
  cursor: pointer;
}

ul.slick-dots li button:hover {
  background: #32beeb;
  border-color: #38f;
}

.slick-active button {
  background: #32beeb !important;
  border-color: #38f !important;
}/*# sourceMappingURL=slide-show.css.map */