$--main-color :#32beeb;
.slide-show {
    // display: none;
    background-color: #ddd;
    .main {
        font-family: Arial;
        max-width: 1150px;
        width: calc(100% - 22px);
        display: block;
        margin: 90px auto 60px;
        padding: 10px 0;
    }
    h3.slides-hot-content,
    h3.slides-warm-content {
        // background: #fff;
        color: #3498db;
        // font-size: 36px;
        // line-height: 100px;
        margin: 5px;
        padding: 1%;
        position: relative;
        text-align: center;
        img {
            width: 100%;
            // max-width: 350px;
            max-height: 220px;
        }
    }
    .action {
        display: block;
        margin: 100px auto;
        width: 100%;
        text-align: center;
    }
    .slider .slider-for {
        position: relative;
    }
    .slick-prev,
    .slick-next {
        font-size: 0;
        line-height: 0;
        position: absolute;
        top: 95%;
        display: block;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        cursor: pointer;
        z-index: 3;
        border: none;
        outline: none;
        background: #3498db;
        opacity: 0.75;
        &:hover {
            opacity: 1;
        }
    }
    .slick-next {
        right: -10px;
    }
    .slick-prev {
        left: -10px;
    }
    .slick-prev::before,
    .slick-next::before {
        font-family: 'slick';
        font-size: 15px;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        color: #fff;
    }
    .slick-prev:before {
        content: '←';
    }
    .slick-next:before {
        content: '→';
    }
}

// New added but not working yet
.slick-initialized .slick-slide.slick-for {
    max-width: 800px;
    /* position: relative; */
    margin: 0 76px;
}

.slick-initialized .slick-slide h3.slides-hot-content {
    position: relative;
    .slider-hot-servise {
        transition: 0.5s linear;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        overflow: hidden;
        direction: rtl;
        // padding-bottom: 20px;
        .servise-date span.hot-date {
            font-size: 16px;
            i {
                margin-left: 8px;
            }
        }
        h3.hot-name {
            font-size: 27px;
            margin-bottom: 10px;
        }
        p.hot-desc {
            display: none;
            margin-bottom: -50px;
            font-size: 16px;
        }
        &:hover {
            p.hot-desc {
                display: inline;
                margin-bottom: 0;
            }
        }
    }
}

ul.slick-dots {
    display: flex;
    justify-content: center;
    gap: 10px;
}

ul.slick-dots li button {
    padding: 4px;
    border-radius: 50%;
    content: none;
    background: #27292d;
    border: 2px solid rgba(47, 45, 45, 0.8);
    cursor: pointer;
}

ul.slick-dots li button:hover {
    background: #32beeb;
    border-color: #38f;
}

.slick-active button {
    background: #32beeb !important;
    border-color: #38f !important;
}

// New added but not working yet