$--main-color :#32beeb;
.slide-show .main {
    &:hover {
        .slick-arrow {
            opacity: 1;
        }
    }
}

.slide-show {
    // display: none;
    // background-color: #ddd;
    .main {
        font-family: Arial;
        max-width: 1140px;
        width: calc(100%);
        display: block;
        margin: 90px auto 60px;
        padding: 20px 10px 0;
    }
    div.slides-hot-content {
        // background: #fff;
        color: #3498db;
        margin-right: 4px;
        margin-bottom: 4px;
        // padding-right: 2px;
        position: relative;
        text-align: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        border-radius: 0;
        overflow: hidden;
        img {
            width: 100%;
            max-height: 220px;
            border-radius: 0;
        }
    }
    .slider .slider-for {
        position: relative;
    }
    .slick-prev,
    .slick-next {
        position: absolute;
        bottom: -26px;
        display: block;
        width: 25px;
        height: 46px;
        border-radius: 2px;
        cursor: pointer;
        z-index: 3;
        border: none;
        outline: none;
        background: #ffff;
        color: #000;
        opacity: 0;
        &:hover {
            background-color: #32beeb;
            color: #fff;
        }
    }
    .slick-next {
        right: 4px;
    }
    .slick-prev {
        left: 0px;
    }
}

.slider-hot-content,
.thumb-content {
    padding: 20px 20px 15px;
}

.thumb-content {
    padding: 20px 20px 15px;
    direction: rtl;
    text-align: right;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0 30px 20px;
    z-index: 3;
    width: 100%;
    pointer-events: none;
    transition: bottom 0.3s;
}

.slide-item-date {
    color: #ffffff;
    margin: 0 0 5px;
}

.slide-item-title {
    font-size: 20px;
    color: #fff;
}

.slide-item-desc {
    color: #ffffff;
    max-height: 0;
    line-height: 18px;
    overflow: hidden;
    opacity: 0;
    transition: opacity 0.4s ease-out, max-height 0.4s ease-out, margin 0.4s;
}

.Slide-content {
    height: 220px !important;
    .thumb-overlay {
        height: 218px !important;
        position: relative;
        >a {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: 2;
        }
    }
}

.slides-hot-content:hover {
    // .thumb-overlay::after {
    //     opacity: 0.9 !important;
    // }
    .thumb-overlay {
        opacity: 0.9 !important;
    }
    .slide-item-desc {
        opacity: 1;
        max-height: 100px;
        margin-top: 5px;
        transition: opacity 0.4s ease-out, max-height 0.9s ease-out;
    }
}

.thumb-overlay {
    opacity: 0.7;
    transition: opacity 0.2s ease-out;
    -webkit-transition: opacity 0.2s ease-out;
    -moz-transition: opacity 0.2s ease-out;
    -ms-transition: opacity 0.2s ease-out;
    -o-transition: opacity 0.2s ease-out;
}

@media screen and (max-width: 767px) {
    .slider {
        .thumb-overlay {
            opacity: 0.9;
        }
        .slide-item-desc {
            opacity: 1;
            max-height: 100px;
            margin-top: 5px;
        }
    }
    .slider:nth-child(2) {
        .slide-item-date {
            font-size: 13px;
        }
        .slide-item-title {
            font-size: 14px;
        }
        .slide-item-desc {
            font-size: 12px;
        }
    }
}